* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: black;
  color: white;
}

html {
  scroll-behavior: smooth;
}
.title {
  text-align: center;
  background: linear-gradient(
    to right,
    white,
    green,
    yellow,
    red,
    blue,
    white,
    red
  );
  background-clip: text;
  color: transparent;
  font-weight: 700;
}
.intropart {
  text-align: center;
  font-size: 15px;
  color: rgb(137, 157, 150);
  margin-top: 20px;
}
.navlist {
  display: inline;
}
.navi {
  background-color: rgb(48, 148, 174);
  /* color: black; */
  height: 16px;
  padding: 10px;
  width: 761px;
  margin: 10px auto;
  border-radius: 30px;
  border: 2px ridge red;
}
.listitem {
  color: black;
  text-decoration: none;
  padding: 0px 20px;
  font-weight: 550;
}
.bgvd {
  width: 100%;
  height: 10%;
  border-radius: 30px;
  border-color: white;
  padding: 30px;
}
section,
footer {
  background-color: rgb(18, 18, 61);
  border: 2px solid aqua;
  margin: 20px auto;
  border-radius: 15px;
  width: 90%;
  padding: 30px;
  box-shadow: 3px 5px 30px rgb(21, 149, 34);
  transition: all 0.3s ease-in-out;
}
section:hover {
  transform: scale(1.05);
}
footer:hover {
  transform: scale(1.05);
}
.heading {
  /* text-align: center; */
  background: linear-gradient(
    to right,
    rgb(232, 249, 3),
    rgb(202, 2, 252),
    rgb(4, 253, 228)
  );
  background-clip: text;
  color: transparent;
  font-weight: 700;
  margin: 10px;
}
footer {
}
